{% extends 'security.html.twig' %}

{% block body %}
    <div id="security-page-wrapper">
        <div id="security-brand-container">
            <a id="brand">Dziennik</a>
            <p>Miejsce, gdzie dzieci się uczą</p>
        </div>
        <div id="security-form-container">
            <form action="{{ path('login') }}" method="post">
                <input type="text" id="email" name="_email" value="{{ last_username }}" placeholder="Adres email"/>
                <input type="password" id="password" name="_password" placeholder="Hasło"/>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="hidden" name="_target_path" value="/"/>

                <button type="submit" class="bg-blue">Zaloguj się</button>
            </form>
            <p>lub</p>
            <a href="{{ path('register') }}" class="button bg-green">Zarejestruj się</a>
        </div>
    </div>

{% endblock %}