{% extends 'base.html.twig' %}

{% block title %}Lista odebranych wiadomości{% endblock %}

{% block body %}
    <h1>{{ message.title }}</h1>
    <p>
        {{ message.content }}
    </p>
{% endblock %}
