<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dziennik{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <style>
                html, body {
                    background: #eee;
                }
                body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100vh;
                    font-family: arial;
                }
                #security-page-wrapper {
                    display: flex;
                }
                #security-form-container {
                    background: white;
                    display: flex;
                    flex-direction: column;
                    border-radius: .5rem;
                    padding: 1rem;
                    margin: 0 4rem;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    text-align: center;
                    width: 20rem;
                }
                #security-form-container > form {
                    display: flex;
                    flex-direction: column;
                }
                input, button, .button {
                    padding: 0.5rem;
                    font-size: 1.3rem;
                    margin-bottom: 0.5rem;
                    border: 1px solid #eee;
                    border-radius: .2rem;
                }
                button {
                    cursor: pointer;
                }
                a.button {
                    text-decoration: none;
                    text-align: center;
                }
                .bg-blue {
                    background-color: #57b8ff !important;
                    color: white;
                }
                .bg-green {
                    background-color: #c5d86d !important;
                    color: white;
                }
                .bg-red {
                    background-color: #d72638 !important;
                    color: white;
                }
                #brand {
                    font-size: 2rem;
                    color: #f79824;
                }
                #security-brand-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                #security-brand-container > p {
                    margin-top: 0;
                }
                #security-form-container > form > div {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                }
                .paper {
                    background: white;
                    border-radius: .5rem;
                    padding: 1rem;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
                section {
                    margin: 2rem 7rem;
                    display: flex;
                    flex-direction: column;
                    padding: 1rem;
                }
            </style>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <section class="paper bg-{{ label }}">
                    {{ message }}
                </section>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>
